* {
    text-align: center;
    color: #fa6900
}
li {
    background-color: #FA6900 ;
    color: green;
}
div li {
background-color: blue ;
color: red;
}
div, li {
background-color: blue ;
color: red;
}
div > ul {
    background-color: aqua;
}
div {
    background-color: green;
}
body {
    background-color: rgba(105,210,231,0.5);
}